[2021-08-06 03:30] keenanjohnson opened #1 "Updated Dashboard to display more than one sensor"
Right now that dashboard is hardcoded to only display data from a single sensor. This should be improved to display a world map with multiple senors and display the graphs for a selected sensor.

https://github.com/Ribbit-Network/ribbit-network-dashboard/blob/main/app.py contains the main application logic and all plots.

[2021-08-06 03:30] keenanjohnson opened #2 "Add data export capability"

[2021-08-11 19:05] keenanjohnson opened #3 "Figure out if the InfluxDB Database Structure is optimal for GeoLocated CO2 Measurments"
Currently the ribbit network sensors publish each measurement to the InfluxDB Database like this:

[code]

See the sensor source file here for more information: https://github.com/Ribbit-Network/ribbit-network-frog-sensor/blob/main/software/co2/co2.py

I could use some help from an InfluxDB expert to figure out if this is the optimal schema for location-based data. Specifically, what's the right w

[2021-08-19 18:04] bcran opened #4 "Developer Discord link is invalid"
The developer discord link at https://github.com/Ribbit-Network/ribbit-network-dashboard is invalid. When I click it, I get the message:

Invite Invalid
This invite may be expired, or you might not have permission to join

[2021-08-19 18:10] keenanjohnson commented on #4
Oh noooooooo let me fix that now

This link should work I believe: https://discord.gg/vq8PkDb2TC

[2021-08-19 18:12] keenanjohnson commented on #4
Link updated! Let me know if that worked!

[2021-08-19 18:42] bcran commented on #4
That works now - thanks!

[2021-08-19 18:42] #4 closed

[2021-08-26 19:06] keenanjohnson opened #5 "Improve the Visual Design"
The visual design of the sight is.... quite bland to say the least. Let's make it look good, hopeful, inspiring, and useful.

![image](https://user-images.githubusercontent.com/2559382/131021482-6f3ea917-a6cd-4ba5-b6a3-e6c3af4c4e5d.png)

[2021-08-27 01:52] keenanjohnson opened #6 "Add Ability to Change Time Period Shown in Plots"
Currently, the time period shown in the plots is fixed at 1 hour. We should make this selectable and possibly changeable.

[2021-08-27 01:55] keenanjohnson opened #7 "Add Additional Data to each Sensor"
Currently, the webpage only displays CO2 PPM, however, we are logging several other data items that we should display.

See here for the list of other items logged:

https://github.com/Ribbit-Network/ribbit-network-frog-sensor/blob/c68b315058ff87d62d956845ab954f054d8c7f9e/software/co2/co2.py#L106-L116

[2021-08-30 21:53] keenanjohnson opened #9 "Data Labels on Map"
The data view for each sensor point on the global map should have labels (Lat, Lon, DataType) in preparation for additional GHGs.

[2021-08-30 21:54] keenanjohnson opened #10 "Dynamic Data on the Map View"
The data view for each sensor point on the global map should have labels (Lat, Lon, DataType) in preparation for additional GHGs.

[2021-08-30 21:56] keenanjohnson opened #11 "Add Timezone indicators or localize data to the Browser Timezone"
Sensors should have time zones stamps on their respective data they capture based on their location of course. Such that the CO2 plots on the webpage will display data with the time zone stamps.

[2021-08-30 23:09] yuzhang0302 commented on #7
I plan on tackling this :)

[2021-08-30 23:28] yuzhang0302 commented on #1
I can take this one!

[2021-08-30 23:29] keenanjohnson commented on #1
Awesome! Thank you!

[2021-08-31 04:48] yuzhang0302 commented on #11
In addition: the sensor we currently display should be in PST, but the line plot doesn't seem to be. It's currently 8/30 9:45pm but displays 8/31 4:45am.

[2021-08-31 04:51] keenanjohnson commented on #11
I think it's currently showing UTC time.

[2021-08-31 07:09] Alhaji-trujillo commented on #11
More of the reasons why we need to indicate a timezone label on the plot in prep for integration of more sensor points

[2021-08-31 07:11] Alhaji-trujillo commented on #5
You can assign this to me

[2021-09-01 18:52] keenanjohnson commented on #5
@Alhaji-trujillo needs to step away for a bit to focus on other work. Unassigning for now.

[2021-09-02 00:55] keenanjohnson commented on #3
@brianstrauch this issue might be a good short-term item you could help with?

[2021-09-02 00:56] keenanjohnson commented on #2
@brianstrauch this is another item that will likely require an API :)

[2021-09-02 00:59] keenanjohnson commented on #1
@brianstrauch this issue is high priority for us. @yuzhang0302 is already taking a look, but this could be a good intro to front end work in Dash (our web framework) if you're interested?

[2021-09-02 02:47] brianstrauch commented on #3
The current schema looks good, although it depends what our long-term goals are.

A no-brainer is we'll want a dashboard that queries the "frogs" currently on the screen (inside a rectangle). InfluxDB does this for us: https://docs.influxdata.com/influxdb/cloud/query-data/flux/geo/filter-by-region/#box

We might also want to query all of the "frogs" in a given country, in which case we might be ab

[2021-09-02 02:53] brianstrauch commented on #3
It looks like the InfluxDB Geo package also requires an `s2_cell_id`: https://docs.influxdata.com/influxdb/cloud/query-data/flux/geo/shape-geo-data/

I think right now it makes sense to generate these as part of the query, but in the future, a good performance improvement would be to generate several (or maybe all 15) different IDs (one for each `level`) when a data point is written to the DB.

[2021-09-02 03:01] brianstrauch commented on #2
What should the format of this data be? Perhaps initially just a CSV file with timeseries data for a single node?

[2021-09-02 04:40] brianstrauch opened #14 "Replace globe with 2D map"
As the number of sensors grow, the current globe model will start to lag (since all points are shown at once). We should use the following and render only the visible sensors: https://plotly.com/python/scatter-plots-on-maps/

[2021-09-02 20:57] #11 closed

[2021-09-02 21:09] brianstrauch commented on #10
How is this different from #9?

[2021-09-02 21:12] #2 closed

[2021-09-02 21:14] keenanjohnson commented on #10
Oh whoops. I copied the wrong description here it looks like. Let me resolve that

[2021-09-02 21:54] spestana commented on #14
I tried my hand at replacing the globe with a different map style in #16 . It's also set up to color points based on the latest CO2 measurement.

[2021-09-03 06:34] brianstrauch commented on #10
I think we should support two modes:
1. Live mode, where the map is constantly updating with the newest data
2. A user-defined time range (i.e. last 1hr, or a range like Jan-Feb), where the map and graph are static

In both cases, there should definitely only be one query.

[2021-09-03 06:45] yuzhang0302 opened #19 "Data granularity and precision"
We are currently pulling data every few seconds, I think we should establish a less granular approach (maybe every minute, 5 minute or 15 minute, not sure).
Also when we are hovering over the map or graph, it displays 6+ decimal places for CO2 reading, I think this is a bit too precise, data should be displayed to 2 decimal points?

[2021-09-03 07:00] brianstrauch commented on #19
From what I can tell, the `interval-component` is causing data to be queried every 60 seconds: https://github.com/Ribbit-Network/ribbit-network-dashboard/blob/af3eb2b9928c587de7255f9bff930b9cc949233c/app.py#L52. My vote is actually to increase this to every second, so we can display a real-time map and graph.

Agree with your point about the CO2 readings though.

[2021-09-03 20:34] yuzhang0302 commented on #19
The interval component you pointed to is actually the frequency that the web-browser refreshes the data. Currently the data is recorded once every 2 seconds and that's how low it goes.

I think ultimately the use case for this type of data would be a minute or more. Anything more granular wouldn't be super helpful. We can also make this a parameter defined by the user similar to what you've doing

[2021-09-03 21:35] #9 closed

[2021-09-03 21:41] #6 closed

[2021-09-03 22:09] brianstrauch commented on #19
@yuzhang0302 Oh, I see. In that case, my intuition is that minute-long intervals would work well; we should move that discussion to the https://github.com/Ribbit-Network/ribbit-network-frog-sensor repo though.

[2021-09-04 00:01] keenanjohnson commented on #14
I guess I don't really understand why this flat map would perform better than the globe?

[2021-09-04 00:15] keenanjohnson commented on #10
Yeah that sounds great to me! I wonder if the live updating mode is actually useful or interesting? Probably I suspect?

[2021-09-04 04:43] spestana commented on #14
Right, I'm not sure if the globe actually loads more slowly than other types of plots?

[2021-09-04 04:48] brianstrauch commented on #14
The idea is that as we get more and more sensors, we'll have to query data for all of them, and render all of them. For 100+ sensors this could take a lot of time.

If we use a 2D graph, we only need to query the sensors within the box that's currently visible on the screen. InfluxDB can do this really efficiently.

[2021-09-04 04:53] brianstrauch commented on #10
The live map would probably just make the website interesting to visit haha

[2021-09-04 04:54] spestana commented on #19
As for the precision that's reported, the accuracy is listed as +/- 30 ppm + 3% for CO2 (also accuracy changes with temperature), +/- 3% for relative humidity, and about +/- 4 C for temperature (also temperature dependent). ([see the SDC30 datasheet](https://cdn-learn.adafruit.com/assets/assets/000/098/461/original/Sensirion_CO2_Sensors_SCD30_Datasheet.pdf?1609871944))

Reporting CO2 to the neares

[2021-09-04 04:56] spestana commented on #19
Any thoughts on obfuscating the precise GPS locations (as sort of a privacy/security consideration)?

I would think this can be done on the raspberry pi before sending the data upstream?

[2021-09-04 05:10] brianstrauch commented on #19
Definitely a good idea! For complete privacy it should be done on the pi. Possible approach:

1. If privacy is desired, the user generates a random number and stores it locally on the pi (in a config file).
2. A deterministic function maps it to an angle between 0 and 360.
3. All GPS coordinates are translated to a point a few blocks away (maybe 1/4 of a mile) in the direction of the angle.

[2021-09-04 05:52] keenanjohnson commented on #19
Obfuscation of the location is definitely an important topic that we should
come to a stance on. I’ve gone back and forth on this a few times and
curious what you all think. The value to scientist and policy makers is
significantly reduced if the location accuracy is diminished. Additionally
the sensors don’t log or have access to any user information. Given those
two facts, I’ve up this point opt

[2021-09-04 06:11] keenanjohnson commented on #14
So are you imagining that eventually we'll have some logic that wouldn't show the whole map when the page loads initially? I guess if that's the case this makes sense. I'm a bit sad because I thought the globe looked nice, but understood if you all feel the flat map is the way to go.

[2021-09-04 06:14] brianstrauch commented on #19
These sensors seem pretty expensive, so it seems possible that they could potentially be stolen for their parts (from the perspective of an adversary, this website is a map of free raspberry pis).

We could let users optionally obfuscate their location and add a boolean field `isObfuscated` to the data set that researchers could filter against if their research can't tolerate GPS data that's off b

[2021-09-04 06:21] brianstrauch commented on #14
Yeah, that's what PurpleAir does. Looks like they have well over 1000 sensors. Try zooming out all the way and watch how long it takes for everything to load (https://www.purpleair.com/map?opt=1/mAQI/a10/cC0#0.25/0/-122.1)

[2021-09-04 06:24] keenanjohnson commented on #19
That is definitely a concern if that is a scenario that starts to occur. Given that our sensors are cheaper than PurpleAir sensors and the installation note seems to be enough for them, I would prefer to stick with adding an installation guide note about the location for now and only add the obfuscation feature if we see start to see incidents of stolen sensors.

[2021-09-04 06:26] keenanjohnson commented on #14
Makes sense to me :)

On Fri, Sep 3, 2021 at 11:21 PM Brian Strauch ***@***.***>
wrote:

[2021-09-04 06:27] brianstrauch commented on #14
Some other ideas though (because the globe is pretty cool):
1. When we hit 100+ sensors only show a subset of them on the globe
2. Lazily load all of the sensors, i.e. query 100 sensors at a time until all of them are shown

[2021-09-06 16:55] #5 closed

[2021-09-06 17:59] keenanjohnson commented on #14
I merged the PR to move to the flat map for now. We can always go back if we like this look less :).

Thanks all!

![image](https://user-images.githubusercontent.com/2559382/132250863-38264933-7985-4577-8599-251b7711c24b.png)

[2021-09-06 17:59] #14 closed

[2021-09-06 20:46] spestana commented on #19
Unless someone is doing very [fine spatial scale research (such as by city block, which would require a very dense network of frog sensors)](https://www.ce.washington.edu/news/article/2021-06-15/clearing-air) I would guess that accuracy within +/- 100 meters is plenty good.

[2021-09-06 22:16] #7 closed

[2021-09-07 00:28] keenanjohnson opened #22 "Map Wraps Around on Widescreen"
@yuzhang0302  pointed out that the map wraps around if the screen is wide: ![image](https://user-images.githubusercontent.com/2559382/132267786-8a4c4c22-e69d-4610-acf1-73a788b0084c.png)

[2021-09-07 00:39] yuzhang0302 commented on #1
@brianstrauch do you have any idea of how we can make the first map_fig interactive with the line plots? I'd love to see ability to select a point on the map and the line plots would show or highlight data correlating to just that location. But not quite sure how to go about doing that

[2021-09-07 00:50] keenanjohnson commented on #1
I think we might be able to handle an "Input('choropleth', 'clickData')" event like [in this example](Input('choropleth', 'clickData')) to get the clicked datapoint, which would allow us to change the display graphs below to that item.

[2021-09-07 01:13] yuzhang0302 commented on #1
@keenanjohnson can you relink the example? Not working

[2021-09-07 01:15] keenanjohnson commented on #1
Oh whoops. Here's the link: https://towardsdatascience.com/highlighting-click-data-on-plotly-choropleth-map-377e721c5893

[2021-09-07 03:26] keenanjohnson commented on #19
@yuzhang0302  did an awesome job addressing the data precision for the UI display in the commits above. The discussion here about GPS obfuscation is important, so let's move that to a discussion: https://github.com/Ribbit-Network/ribbit-network-dashboard/discussions/27

[2021-09-07 03:26] #19 closed

[2021-09-07 03:29] keenanjohnson commented on #1
I did what I think the first step of this project is in [PR25](https://github.com/Ribbit-Network/ribbit-network-dashboard/pull/25). You can see I added a selector that allows the user to toggle which sensor is displayed in the graphs below. The two next steps would be:
1) Generate the sensor list from a query instead of a hard coded list
2) Allow this selection to be done by clicking on the map

h

[2021-09-07 03:35] keenanjohnson commented on #1
I've gone ahead and merged that selector to main

[2021-09-07 03:37] keenanjohnson commented on #1
@yuzhang0302 if you wanted to try and tackle generating the drop down list from a query, that would be awesome!

[2021-09-07 03:42] brianstrauch commented on #1
If we plan on supporting 100+ sensors, I foresee a dropdown list getting out of hand... Also, how will a user know which sensor is "Sensor 1" or "Sensor 2"? My vote is to only allow selecting a sensor by clicking on it on the map.

[2021-09-07 03:46] keenanjohnson commented on #1
Agreed! I just see the selector as an incremental step towards that :)

[2021-09-07 18:52] keenanjohnson commented on #3
Yeah I think that is all the usecases so far @brianstrauch! I'm going to close out this issue since it seems like the structure is adequate for now! Yeah the cell generation is certainly an interesting idea! We could easily generate those on the sensor before writing up to the database.

[2021-09-07 18:52] #3 closed

[2021-09-07 22:08] keenanjohnson opened #29 "Select Sensor Via Map Location Click"
Currently, the graphs display a sensor's data based on which sensor is selected in a drop-down menu.

As discussed in #1 we should update this to Allow this selection to be done by clicking on a sensor in the map.

This seems technically feasible according to this tutorial: https://towardsdatascience.com/highlighting-click-data-on-plotly-choropleth-map-377e721c5893

[2021-09-07 22:09] keenanjohnson commented on #1
We've accomplished the original intent here to display data from multiple sensors. Just for clarity for people new to the project, I've created a new issue: #29 for the last remaining piece we've discussed here.

[2021-09-07 22:09] #1 closed

[2021-09-07 23:21] yuzhang0302 opened #30 "Switch to subplots for line graph"
Instead of generating 4 different graphs, we should use subplot

[2021-09-07 23:23] yuzhang0302 opened #31 "Create user input for report frequency"
Create a dropdown for user to specify reporting frequency, default to 1 minute, options for 5 min, 15 min, 30 min, 1 hour

[2021-09-08 21:56] keenanjohnson opened #32 "Display a Loading Icon or Text While Graphs are Updating"
The queries can sometimes take a second or two depending on the length of data queried. Although the page title shows "Updating" while this is happening, it would be nice to add something more obvious to show that the page is loading on the graphs themselves.

[2021-09-08 22:17] Alhaji-trujillo commented on #29
You can assign this to me @keenanjohnson

[2021-09-08 22:17] Alhaji-trujillo commented on #29
Thanks

[2021-09-08 22:18] keenanjohnson commented on #29
Done!

[2021-09-10 18:51] keenanjohnson commented on #32
It looks like this can be accomplished via the Loading states in Dash: https://dash.plotly.com/loading-states

[2021-09-11 02:30] brianstrauch opened #34 "Only query data for sensors that are visible on the map"
The map is 2D, so we only need to query and render the sensors that are visible on the map. Approach: find the (lat, lon) of the top left and bottom right corners of the map and pass those coordinates to the InfluxDB query.

[2021-09-13 17:56] keenanjohnson commented on #22
This seems to be the intended behavior of Mapbox and I don't see a way to work around it after reading the mapbox forums. I believe a decent workaround is to set a reasonable zoom level from the outset that just shows the available sensors.

[2021-09-13 18:00] keenanjohnson commented on #22
I've updated the map to automatically calculate the center position and zoom levels based on the sensors available. You can see that the change sets this position and zoom automatically now:

![image](https://user-images.githubusercontent.com/2559382/133133615-35cf2d09-e71b-42a3-b833-76a814f75bcc.png)

[2021-09-13 18:00] #22 closed

[2021-09-13 18:05] keenanjohnson commented on #34
That would be a great improvement for sure as the number of sensors grows.

[2021-09-16 00:13] keenanjohnson opened #39 "Display Sensor Aggregate Numbers if Multiple Sensors Are in One Location"
Given that the sensors obfuscate their GPS location, it's possible to have multiple sensors display in the same location on the map. If this happens, we should display a number of sensors on top of that dot to indicate the number of sensors deployed there.

[2021-09-16 00:17] brianstrauch commented on #39
I think we should generalize this to any zoom level. For instance, when the map is zoomed all the way out, it looks like there's only one sensor in Seattle. We should combine sensors whenever they're **visually** on top of each other, not just at the same coordinates.

[2021-09-16 00:19] keenanjohnson commented on #39
Yes that's a great suggestion!

[2021-09-16 01:15] keenanjohnson opened #40 "Add basic unit tests"
Right now the project has no unit tests. We should add some basic tests :)

[2021-09-16 18:58] sagunn commented on #39
I cannot find support for point clustering like this in Plotly's scattermapbox.
Discussion here: https://community.plotly.com/t/how-to-use-mapbox-clusters/10774

Looks like maybe using dash-leaflet to render the map could do the trick.
See http://dash-leaflet.herokuapp.com/#marker_cluster

[2021-09-17 18:06] rishikavikondala commented on #32
@keenanjohnson - which of these options do we want?
Option 1: have a single loading icon above the first graph to indicate that all graphs are loading
Option 2: have a separate loading icon for each graph

[2021-09-17 19:22] keenanjohnson commented on #32
@rishikavikondala I think either is fine!

[2021-09-18 17:52] keenanjohnson commented on #39
Thanks for looking into that @sagunn ! Perhaps we should trick switching to that map rendering! It looks promising and to be honest, it seems like they are using the same mapbox tiles anyway haha

[2021-09-20 18:37] #32 closed

[2021-09-21 05:48] keenanjohnson opened #45 "Web Page is Hard to Use on Mobile"
@spestana pointed out that the web site is really quite hard to use on mobile. When you try to scroll up and down on the page, you instead select areas on the plots frustrating haha. See my screen recording below.

https://user-images.githubusercontent.com/2559382/134118492-0c947438-f8ed-4d7c-adc5-40090d9024ec.MP4

I'm not sure what the best solution here is quite yet. Mobile isn't really a usecas

[2021-09-22 02:54] brianstrauch commented on #45
To accomplish #39, we're planning to switch to dash leaflet. We can use this to require two fingers to scroll the map: https://dash-leaflet.herokuapp.com/#gesture

[2021-09-22 06:05] #39 closed

[2021-09-22 06:05] keenanjohnson commented on #45
That would definitely help, but I think the main issue is with the plots below, not the map :)

[2021-09-26 00:55] keenanjohnson commented on #29
@brianstrauch you've been doing such awesome work on this project! If you're looking for something else to tackle, I think this one could be a real usability improvement for the site! I thought I had it, but I had clearly introduced a bug previously so I rolled back the change.

[2021-09-29 19:52] #29 closed

[2021-10-05 22:49] keenanjohnson opened #50 "Error Loading Layout"
@spestana reported the following error on the webpage:

"Just now I was refreshing the dashboard page (I had to re-route some power cords outside so was waiting to see if my frog was reconnected yet), and encountered an "Error loading layout" message on the dashboard site. A couple of page refreshes and it goes away. But then it comes back again sometimes?"

![image](https://user-images.githubuser

[2021-10-05 22:50] keenanjohnson commented on #50
Here's the full error trace file for reference:
[ribbit-network-logs-1633473915601.txt](https://github.com/Ribbit-Network/ribbit-network-dashboard/files/7289695/ribbit-network-logs-1633473915601.txt)

[2021-10-05 23:13] spestana commented on #50
A fix could be as simple as changing `pd.concat(df)` to `pd.concat([df])`, but why does the function query_api.query_data_frame() return a dataframe sometimes, and a list of dataframes other times?

[2021-10-06 00:06] keenanjohnson commented on #50
Yeah that is weird. Seems like a poor way to design an API on the InfluxDB side IMO haha.

[2021-10-07 02:08] sriki18 commented on #30
Hello, I can look into this @keenanjohnson . Anything I should keep in mind before I get started?

[2021-10-08 00:54] sriki18 commented on #30
Okay, I have started work on this! I will keep the loading animations and mobile in mind. Not sure how you test mobile, but I plan on using the mobile mode in Firefox - let me know if there is a more sophisticated tool!

Do you have thoughts on Plotly express vs using the low level functions(e.g. `go.line`) ? It looks like using Plotly express doesn't play too well with subplots (https://github.co

[2021-10-08 03:40] keenanjohnson commented on #30
Yeah I think testing via the mobile browser should be fine :)

I'm definitely not an expert on Plotly express vs the low-level functions, so happy to take a look at whichever direction you feel is best.

[2021-10-09 01:29] sriki18 commented on #34
Hello,

It looks like at the moment, sensor data is queried only for specific sensors

https://github.com/Ribbit-Network/ribbit-network-dashboard/blob/bd8050df06d0514dea20e99916c39e8e7d9e7d20/db.py#L21-L24

Is this about the other query, and having a lat lon filter there?
https://github.com/Ribbit-Network/ribbit-network-dashboard/blob/bd8050df06d0514dea20e99916c39e8e7d9e7d20/db.py#L9-L14

[2021-10-09 01:41] sriki18 commented on #40
Hmm. We could probably split this into two problems, one for db tests and one for the dash app. The former should not be too hard - hard-code some queries and check data consistency. Dash app tests may be a little more involved (https://dash.plotly.com/testing). Am I missing anything?

[2021-10-09 16:00] brianstrauch commented on #34
@sriki18 Yep, this issue is for the top query (the map data query)

[2021-10-10 04:58] keenanjohnson commented on #40
Yeah I think those are the two major pieces right now. Probably something like a basic smoke test just to ensure the dash app runs for example would be key.

There are other things we could eventually test like that the plots auto update and the clicking behaviors work correctly, but those are of lesser value right now I think.

[2021-11-16 06:29] keenanjohnson opened #59 "Set Map Centroid Based on Browser Location"
Now that Ribbit Network has sensors in multiple continents, the centroid of the map is somewhere random in the ocean.

We should probably adjust the map centroid upon loading based on your browser's location, as presumably you want to see sensors that are closest to you

[2021-11-16 06:40] keenanjohnson opened #60 "Fix Map Infinite Panning"
From Frog User: "they panned the wrong way on the map and couldn't find our dot as it only appears once while the map loops infinitely."

I'm not sure if the right way to fix this is to fix the infinite panning or replicate the point on the amp, but we should fix it.

[2021-11-17 01:48] keenanjohnson commented on #60
Thanks for tackling this change so quickly @spestana! This looks pretty good except, I think it might be good to move the limits out a bit wider than 180 degrees so that if there is a sensor in the extreme margin, someone can scroll such that their sensor in New Zealand for example, is in a useable section of the map.

[2021-11-22 21:56] keenanjohnson opened #62 "Prevent Lat:0, Long:0 GPS coordinates from Appearing on Map"
@spestana noticed that someone was publishing a 0,0 GPS coordinate on the map, likely due to someone's software erroring for some reason.

We should screen these out somehow. Perhaps by showing a second page of senors that have default locations for example.

![image](https://user-images.githubusercontent.com/2559382/142940856-1bbbe366-721a-4faa-be68-96fb7da47540.png)

[2021-11-24 17:26] sriki18 commented on #62
Can we simply add a filter near here?

https://github.com/Ribbit-Network/ribbit-network-dashboard/blob/8f04d07e97056d535bfbcabeed98f02800061dc6/db.py#L9-L14

Just filtering out lat=0 & lon=0 over when querying the map.

[2021-11-24 18:06] #30 closed

[2021-11-24 20:47] keenanjohnson commented on #30
@allcontributors please add @sriki18 for his great code contributions!

Thanks @spestana for the review!

[2021-12-15 01:18] keenanjohnson opened #64 "Design Proper API for Data Access"

[2021-12-15 03:53] brianstrauch commented on #60
Was this issue closed by #61?

[2021-12-15 23:54] #62 closed

[2021-12-16 00:04] #59 closed

[2021-12-19 20:48] spestana commented on #60
Yes, I'll close this now!

[2021-12-19 20:48] #60 closed

[2021-12-19 20:49] spestana commented on #45
I am going to close this issue. Changing the graph widths fixed the main problem of not being able to scroll down the page.
There are probably other improvements that could be made for small touchscreen devices, but those could be separate issues if they become a priority.

[2021-12-19 20:49] #45 closed

[2021-12-19 21:40] spestana commented on #64
I don't have a background in databases or data management, but do have some thoughts on this. This might be more complicated and maybe for something later down the line, but rather than designing an API, I think there are a couple options that would make the use of Ribbit Network easier and adopted more quickly. 1) We could try to contribute data to an existing air quality or similar database, or

[2022-01-03 23:36] keenanjohnson commented on #40
@all-contributors please add @abesto for his awesome test code!

[2022-01-04 04:44] keenanjohnson commented on #40
I've added the ability to trigger the actions manually above and [it works great](https://github.com/Ribbit-Network/ribbit-network-dashboard/actions/runs/1652149353):

![image](https://user-images.githubusercontent.com/2559382/148010564-a3ba43b1-537c-42f6-a3bc-87febb759f7a.png)

[2022-01-04 04:46] keenanjohnson opened #70 "Ability to Run Tests Manually"
In #67 we discussed that in theory if you fire up a Webdriver server locally then pytest --headless should just work. Or maybe https://github.com/nektos/act could just take care of everything transparently. That said, especially given that the tests cache dependencies, maybe iterating via GH is acceptable.

We should test if this is true and update the documentation or figure out a way for develop

[2022-01-04 04:47] keenanjohnson commented on #40
Per our discussion in #67 @abesto, I've created #70.

[2022-01-04 04:48] #40 closed

[2022-01-27 01:17] #70 closed

[2022-01-27 01:20] keenanjohnson commented on #64
FYI we made a start at an API design here: https://github.com/Ribbit-Network/api

[2022-03-04 00:11] keenanjohnson opened #74 "Explanation Infographics"
We should ceate a series of infographics explaining how the Ribbit Network generates a heatmap of CO2 data from a network of sensors to tell the story of how Ribbit Network works and why that matters.

This can help us answer questions like:

* Why do we need so many sensors?
* How do we determine where emissions come from using the sensors?

[2022-03-04 00:14] keenanjohnson opened #75 "Create mock data and visualizations of what a heatmap for a specific urban area would look like"

[2022-03-04 00:15] keenanjohnson opened #76 "Plan out and possibly prototype what a data pipeline would look like to generate the heatmaps in realtime"
We should figure out how to generate emissions heatmaps in real time on our data dashboard.

[2022-03-04 21:56] nivashini10 commented on #75
Initial thoughts -

To create the mock data and visualizations,
1. Understand how current C02 emissions data are being produced
2. The methodology behind the data collection (whether the data are estimates or accurate values of co2 emitted in a location)

In the Vulcan mapping project, the researchers map the CO2 emissions throughout United States. The data from the Vulcan mapping project is avail

[2022-03-04 23:27] keenanjohnson commented on #75
That sounds good! In my experience most of those data sets are based on estimates, but I'm not familiar with that one, so I'm excited to see what you find!

In my opinion, it might end up being simplest to try and handcraft some data that is obviously simpler than a real dataset, but is adequate for these visualizations. Or you could download some data from one of our real sensors and try duplicat

[2022-03-09 22:55] nivashini10 commented on #75
Using https://towardsdatascience.com/visualizing-climate-change-data-with-python-74ea5bac8756 to create some basic code and visualizations/animations for north America.

To understand the methodology of the Vulcan Project - Documentation (https://vulcan.rc.nau.edu/assets/files/Vulcan.documentation.v2.0.online.pdf).

![image](https://user-images.githubusercontent.com/70036680/157544788-d22eef9f-470

[2022-03-11 20:06] keenanjohnson opened #77 "Add day/night shading to Sensor map"
From a Ribbit Network user: It would be great to have some sort of night/ day shading of the graph background, so you know where you are at in time.

[2022-03-20 08:00] nivashini10 commented on #75
Came across https://github.com/claudian37/DS_Portfolio/blob/master/NYC_cab_dataset/01_EDA_NYC_Cab_geospatial_visualization.ipynb  on a Time-Lapsed Heatmap of NYC Cab Pickup Locations. I would be using this as a reference to create the visualizations for the mock-up data and try to mimic some aspects.

The reason why I am specifically referring to this is because the attributes used in the data are

[2022-03-23 17:31] keenanjohnson commented on #75
Sounds good! That seems like an excellent place to start. What sort of tools are you using to do that? What stage are you at with the mockups?

[2022-03-23 20:14] keenanjohnson commented on #75
For the record I made a smaller gif :)
![small](https://user-images.githubusercontent.com/2559382/159787522-a9971017-6761-4f94-b069-ef368a9bdc7c.gif)

[2022-04-01 23:27] nivashini10 commented on #75
I created a github fork and added the codes and datasets under Data Visualizations folder. I was also able to clone the fork to my github desktop.

I am uploading the heatmap gifs I have created so far and working on adding some markers to show the sensors physical location on the heatmap as well.

[2022-04-01 23:41] nivashini10 commented on #75
Uploaded some heatmap visualizations [code](https://github.com/nivashini10/ribbit-network-dashboard/blob/78d4763faa22086974ac818fd3c634a40a19bb10/DataVisualizations/CO2%20Visualizations.ipynb), and working on changing the location of the region from Europe to a region in USA and converting it into a gif.

[2022-04-03 00:50] nivashini10 commented on #74
I worked on Canva and created a draft of the infographics. This allowed me to learn the tools and features in canva and brainstorm some ideas for the final infographic.

I have attached the infographic here and the [link ](https://www.canva.com/design/DAE8xzxhd9w/yYBcEJB2iK4RWU_5WtnzQg/watch?utm_content=DAE8xzxhd9w&utm_campaign=share_your_design&utm_medium=link&utm_source=shareyourdesignpanel)for

[2022-04-03 00:52] nivashini10 commented on #74
My inspiration for the infographic is https://www.saveonenergy.com/how-wind-turbines-work/. I really liked how it is structured and interactive, and want to build the infographic incorporating some of its elements.

[2022-04-04 17:15] keenanjohnson commented on #75
Looking great so far! Are you figuring out git and github ok?

Make sure to include the test data set as well :)

[2022-04-04 17:19] keenanjohnson commented on #74
OMG THIS IS THE BEST @nivashini10 !!!! This is exactly what I hoped, but even better!

The biggest piece of feedback I have is that perhaps it could use one final section with something about our hopes for how the data is used. Something like:

**Impact**
Ribbit Network is a non-profit, 501(c)(3), that is committed to keeping this dataset free and available to all. This will allow citizen scientis

[2022-04-05 07:32] Derek-Gutheil commented on #74
This is beautiful!

[2022-04-26 07:51] nivashini10 commented on #75
Created this code https://github.com/Ribbit-Network/ribbit-network-dashboard/blob/main/DataVisualizations/NYC%20CO2%20Visualization.ipynb for visualizing CO2 emissions along with physical sensors shown on the map in NYC.

I used the NYC Cab dataset to get the coordinates but unable to upload it as the file is too big. The dataset used for the sensors shown on the map is uploaded.

![pickup_heatmap

[2022-05-03 18:03] keenanjohnson opened #81 "Figure out Most Cost Effective Way to Retain Data > 30 Days"
Currently, Ribbit Network uses the free tier of the InfluxDB Cloud service. This has the limitation that we can only retain data for 30 days, which obviously should be improved for the usefulness of the network.

[2022-05-03 18:03] keenanjohnson commented on #81
@spestana had started some thinking on this in Discord:

"I am aware of some organizations that will host "research data" for free (up to some limit) in my field (hydrology/snow/ice research), but not familiar with anything similar for air quality or climate, though I'm sure there are similar organizations out there. I emailed some of the air quality and atmospheric science folks here at UW asking

[2022-05-05 01:31] abhinavtripathy opened #82 "Python Dependency Management"
Hi,

I was looking at the codebase and I see that venv is used as a python package manager. While this is the default, to scale this project I was wondering if [pipenv](https://pipenv.pypa.io/en/latest/) or [poetry](https://python-poetry.org/) would be appropriate as an easy way manage our dependencies as they can get complicated fairly quickly.

@keenanjohnson any thoughts?

[2022-05-05 01:33] abhinavtripathy commented on #76
@keenanjohnson real time is actually an interesting challenge, as we look to scale this I wonder if we should consider doing refresh every few seconds first and then pure real time. I wonder what the cost/benefit for the approaches are. I am not sure what you were thinking for this.

[2022-05-05 01:37] abhinavtripathy commented on #81
@keenanjohnson I was wondering if firebase would be a viable option, they allow for database store of 1GB and plenty of reads and writes. At some point we have to figure out how to archive data, keeping all this data with a lot of sensors can increase fairly quickly. For now our needs could fit with firebase and then we can build functions to archive data before the data increases beyond that thre

[2022-05-05 19:55] keenanjohnson commented on #81
It's possible and I don't think anyone has investigated Firebase! I think that what we should do is compare all the available options including firebase, influxDB etc with pros and cons. Is that something you can take the lead on @abhinavtripathy?

[2022-05-05 19:58] keenanjohnson commented on #82
Hey there!

I'm not an expert, but I've heard that poetry is excellent. In fact, [we switched the Frog Sensor package manager to poetry](https://github.com/Ribbit-Network/ribbit-network-frog-sensor/pull/92) a while ago, so I think it would be great to do that here as well if that's the standard.

@spestana do you have any thoughts or experience on poetry vs pipenv vs venv?

[2022-05-05 20:37] abhinavtripathy commented on #81
Happy to take lead on this!

[2022-05-05 20:39] keenanjohnson commented on #81
Sounds good! @spestana had been looking into a little bit as well, so make sure to keep this issue up to date and stay synchronous with each other :).

@spestana if you had wanted to take the lead as well, I'm sure we can find other work for @abhinavtripathy , so just let us know :).

[2022-05-06 20:14] keenanjohnson opened #83 "Update Sponsorship Buttons to Official Sources"
Now that Ribbit Network is an official not-for-profit, the funding buttons on Github should be updated to point to the new donation page instead of to the old Github sponsors and ko-fi for Keenan as an individual.

[2022-05-06 20:28] keenanjohnson commented on #83
Done!

[2022-05-06 20:28] #83 closed

[2022-05-10 18:38] spestana commented on #81
Go for it @abhinavtripathy !

There were a couple of research-oriented data stores I'd wanted to look into, ([Princeton has a guide here](https://researchdata.princeton.edu/research-lifecycle-guide/where-and-how-can-i-publish-my-dataset), and (Mendeley](https://data.mendeley.com/) ), otherwise I was thinking of the open data services of big cloud providers too ( [google](https://cloud.google.com/l

[2022-05-10 18:49] spestana commented on #82
I haven't yet used it myself, but have heard others recommending poetry.

Either way it would be good to be consistent across the board!

[2022-05-25 00:16] abhinavtripathy commented on #81
Thank you @spestana @keenanjohnson, I will be working on this from tomorrow and seeing what works best and coming up with a report.

[2022-06-22 18:24] nivashini10 commented on #76
I am exploring [d3 ](https://github.com/d3/d3/wiki)gallery for heatmaps examples - https://observablehq.com/@d3/gallery.  D3.js is a JavaScript library for visualizing data using web standards. The particular example that would be great fit for ribbit data would be [Hexbin Map](https://observablehq.com/d/546f844e9025e353@190) and [Bubble Map](https://observablehq.com/@d3/bubble-map).

I am current

[2022-07-18 04:57] spestana commented on #31
Check out my attempt at adding a sampling frequency option to the dashboard  (#85 ) and let me know what you think!

[2022-07-18 05:23] spestana commented on #77
Here's an implementation with leaflet alone (not dash): https://github.com/joergdietrich/Leaflet.Terminator

[2022-07-21 02:14] keenanjohnson commented on #31
Yeah will do!

[2022-07-21 02:29] #31 closed

[2022-07-21 23:51] keenanjohnson opened #86 "Show Sensors That were Previously "Online" on Map"
One improvement I have been thinking about is maybe a good task for anyone looking to help do more web development on! Right now the web dashboard only shows sensors that return data that have sent data within the latest query time. However, there are lots more sensors that come on and offline that contributes valuable data. We could improve the site such that it displays all sensors that have pre

[2022-07-22 18:27] abesto commented on #86
I'm starting to look into this!

[2022-07-22 18:43] abesto commented on #82
In general, Python package management is a bit of a mess :D `pipenv` and `poetry` are indeed the major options. I do think adopting `poetry` here (possibly along with the other devenv goodies in the PR linked above) is a Good Idea (TM). I may do it myself at some point, but also, very happy to review code if someone wants to take on this!

[2022-07-25 10:38] SambhaviPD commented on #81
@abhinavtripathy - I recently joined this repo, and started to look at the open issues. Just wanted to know whether there are any updates on comparison between databases. If you need an extra hand, I'm ready to jump in.

[2022-07-25 19:32] #86 closed

[2022-07-26 06:19] SambhaviPD commented on #81
Sure @abhinavtripathy, I shall to take a look at this one. I'll share my findings once it gets to a shape.

[2022-07-27 05:38] SambhaviPD commented on #81
@abhinavtripathy , @keenanjohnson - I need some quick help in understanding a few things. I started to look at various options, and captured notes on and off in [my notion page.](https://sambhavi.notion.site/Ribbit-Network-Alternate-database-analysis-8f64064775f745c19f72b6ec01cbb424)

I shortlisted a few open source time series databases based on quick reading, and then started to look at it from

[2022-07-28 01:53] keenanjohnson commented on #81
Hey @SambhaviPD ! We use the official Python client for Influx DB. You can see the python source code of the Sensor here: https://github.com/Ribbit-Network/ribbit-network-frog-sensor/blob/main/software/co2/co2.py

There is definitely a goal to abstract that via an API later: #64, but that's not implemented yet.

Thanks for your help! Keep the questions coming! I think your Notion page is a good st

[2022-07-28 06:39] SambhaviPD commented on #81
Hey @keenanjohnson , Thanks for the reply, Sure, I shall take a look at co2.py.

And yes, I'm majorly looking for open source options only. Completely understand and accept your point on being frugal where ever we can.

I changed the properties of my notion page to allow editing and allow comments. Now all can contribute. Is that sufficient, or is there any other option where I can make it more ea

[2022-07-28 21:34] benorloff commented on #77
To clarify, which would be better for user experience?

1. To display night and day regions on the global map
2. Render the global map in either 'light' or 'dark' mode based on the user's location and timestamp

If #1, then I think adding overlays per @spestana 's suggestion makes sense.

If #2, I think it would just be a matter of dynamically updating the map style of the tileset based on geoloca

[2022-07-29 14:56] abhinavtripathy opened #93 "Adding Docker"
I was wondering if the repo would benefit from dockerizing. I was thinking if this would help with local development and deployment. Would love more inputs on this! I don't want to jump on scaling or using tools that we don't need right now. Any thoughts @abesto @keenanjohnson ?

[2022-07-29 15:24] abesto commented on #93
My 2c: all else being equal, as a rule of thumb, stuffing backend things inside Docker is a Good Idea. However! For this repo in particular:
* Deployment is to Heroku. I can't comment on how convenient or stable that setup is (because I don't have access to Ribbit infra, which is as it should be, since I'm not a core team member). That said: assuming it's in roughly a good place, adding on Docker

[2022-07-29 15:27] abesto commented on #93
Oh, one more thing: a big value of a Docker-based local devenv is codifying local infrastructure: test database, cache server, backend / frontend / api server processes, wiring all these up, etc. Now, there are no locally running infrastructure pieces here currently. When you run locally, your development server accesses the production database. There's no local cache instance, there's no local no

[2022-07-29 15:41] keenanjohnson commented on #93
I know @jYoungiiJC was also interested in this.

FYI we're not tied to Heroku a deployment tool, but it is free for us to use today which is nice :)

I'm generally a fan of using docker if it is less painful than configuring the dev env. otherwise ([for example, I develop with ROS in this way using VSCode Workspaces](https://github.com/keenanjohnson/ros2_rust_workspace)). However, things like ROS

[2022-07-29 17:11] abhinavtripathy commented on #93
Thank you for the comments @abesto @keenanjohnson . It is clear to me that as of now, we probably should do something like poetry rather than docker. @keenanjohnson can you assign the poetry issue to me, unless someone else is doing it. I would be happy to take it on.

[2022-08-01 07:11] SambhaviPD commented on #81
@keenanjohnson , I went through co2.py. Now I'm pretty clear when it comes to writing to the database part in Ribbit flow.

Fyki, I did some more reading on two more DBs on my list, and updated my [notion page](https://www.notion.so/sambhavi/Ribbit-Network-Alternate-database-analysis-8f64064775f745c19f72b6ec01cbb424)

Yet to cover two more db before I share my final suggestion.

One question is, s

[2022-08-03 02:53] keenanjohnson commented on #81
Hey @SambhaviPD ! Thanks for the research! Probably the most effective way to test would be to create a "mock" sensor in software just allows you test the db connections.

I don't see any considerations for cost yet in your notion page. Is that something you still plan on considering?

Thanks!

[2022-08-05 20:09] fosteman commented on #76
@nivashini10 , did you get much further into d3? I have some practical experience, we can hack something together. Lmk

[2022-08-05 20:21] fosteman commented on #64
Hm, @keenanjohnson, why was `Go` chosen as the language to go ahead with ?
No judgement, just curious.

My thoughts would be to spin up a kubernetes cluster of 1-2 containers running the code. Code itself, since it's a simple API, may be nothing particularly interesting.

Also, in relation to Dashboard codebase, it'll be nice to have our own API instead of relying on DB connector right there.

[2022-08-05 20:22] fosteman commented on #76
Thinking that it'll be great to go ahead with [Firebase](https://firebase.google.com/pricing/) - offers bunch of services (including serverless functions, firestore DB, and CI pipelines) for free under a certain measure of use - would like to tap into our analytics to figure out current usage stats.

[2022-08-05 22:55] fosteman commented on #81
Should we consider non-open source solutions that are practically free ? Like https://firebase.google.com/docs/database/

[2022-08-05 23:25] fosteman commented on #93
Docker may be a good idea for the API, obviously not for the dashboard.

[2022-08-06 16:13] fosteman commented on #81
@spestana ,

Yeah, GCP offers $300 of credits for new accounts. We can make use of them.

[2022-08-07 15:55] fosteman commented on #64
Yeah, there's a way to contribute to OpenAQ -
https://github.com/openaq/openaq-info/blob/master/FAQ.md#contributing-data-sources-1

[2022-08-07 16:53] keenanjohnson commented on #64
Hey @fosteman ! The decision for Go was made by the original API author and I'm not sure why that was made.

[2022-08-08 06:50] SambhaviPD commented on #81
@keenanjohnson - Ok, I shall try to create a mock in software to test the db connection part. On cost, the databases I'm researching are all open source ones only, no cost factor involved.

Hence the pointers I'm looking at are, more from a easy learning curve, good community support, easy deployment, good user base, shouldn't be an overkill - such aspects. I have 3 more DBs to cover in my list, o

[2022-08-08 11:43] fosteman commented on #81
@SambhaviPD ,

I've created a serverless firebase function to serve new frontend here =>

If you were to mock anything up, feel free to use that node.js code https://github.com/Ribbit-Network/ribbit-network-dashboard/pull/94/files#diff-e6a35fcf3c90f75b27c14eb559ddcf8cd259b4e1a2cf49f73d3ed9f91229fccd

[2022-08-08 13:29] fosteman commented on #81
Left column - free:
![image](https://user-images.githubusercontent.com/32850517/183429429-a3a77d54-4825-46fb-bd93-abe5f1501fcc.png)

[2022-08-09 03:16] #93 closed

[2022-08-10 10:38] SambhaviPD commented on #81
@keenanjohnson, @abhinavtripathy , @fosteman @spestana - From my reading of all 6 databases (see my notes [here](https://www.notion.so/sambhavi/Ribbit-Network-Alternate-database-analysis-8f64064775f745c19f72b6ec01cbb424)), IMHO we can go ahead with either **Quest DB** or **Grid DB**, as they seem to fit the bill pretty well.

Both are open source, community edition is what we can go with. Throughp

[2022-08-10 12:18] fosteman commented on #81
@SambhaviPD , good stuff. Go ahead with your plan - QuestDB \ Heroku.

The only difference between the two is SQL (QuestDB) \ noSQL (GridDB) ?

I don't mind either, but we might speed up development times if we proceed noSQL route.

[2022-08-16 09:48] SambhaviPD commented on #81
@abhinavtripathy , @keenanjohnson , @fosteman - quick update, I went ahead and installed Grid DB on a GCP Compute Engine VM (the free micro one), as I don't think Heroku supports both QuestDB or GridDB as an add-on data store. Will keep this thread updated once I proceed further.

[2022-08-16 12:14] fosteman commented on #81
@SambhaviPD , hey, let me give you access to our GCP account then

[2022-08-20 04:14] abhinavtripathy commented on #81
Great work @fosteman and @SambhaviPD! Sorry for the late reply, not sure how I missed out on this thread! But this is all seems like great work and we seem to be trying out ways in the right direction! Thank you all for the great work!

[2022-08-21 20:06] keenanjohnson commented on #81
Yes thanks for all the hard work folks! Ribbit doesn't currently have a GCP account as we haven't run anything there before.

Sounds like the consensus here is GridDB, but can someone do a quick pricing comparison on GridDB vs InfluxDB? They seem very similiar to me in that they are both open-source, time series databases before we make a final call and start writing code?

Perhaps pick a reasonab

[2022-08-22 06:37] SambhaviPD commented on #81
@keenanjohnson - GCP account, for now I'll use mine as I anyways have an account there. No problems.

When you say pricing comparison, I assume you are referring to the cost associated for the cloud server where the data is stored, and not the database per se, is it not?

Let me simulate 5 minute interval for 6 months for 100 sensors in grid db, and see how much space it occupies. That will give a

[2022-08-22 07:11] keenanjohnson commented on #81
For the cost, I mean an estimate of the full cost require to deploy that
solution for Ribbit network that scale I mentioned. What that pricing
entails is solution dependent. For example, some services that are hosted
like Firebase have per write costs whereas an open source tool deployed to
a server would not.

Does that make sense?

On Sun, Aug 21, 2022 at 11:37 PM Sambhavi PD ***@***.***>
wrote:

[2022-08-22 08:18] SambhaviPD commented on #81
Yep, got it. In Ribbit's dashboard solution, the only cost we'll incur would be the VM where the solution + DB will be deployed. Even for VM, we can first see how much the free tier can handle.

Right now, it's on Heroku (free tier) + Influx DB (free tier).

Let me come back with some metrics this week, once I complete with a sample iot simulation for the time period we discussed earlier.

[2022-08-24 02:44] keenanjohnson opened #96 "Convert Webpage to React from Python Dash"
In #95, an excellent start was made at converting the Python Dash Web App to a React App.

This seems to be a more scalable path forward for our web application and could enable us to more easily fix certain issues like #45 in the future!

## Work Required

In order to deploy a React app, we don't want to lose any functionality from the existing web application.

The specific features are listed b

[2022-08-24 02:51] keenanjohnson opened #97 "Hide Database Access Key from Front End"
The current Ribbit Network dashboard exposes the Database Access Key as part of the Front End.

Although this is a read-only key, it's probably not ideal to expose it given the risk that someone could DOS the Ribbit Network database or something else nefarious.

It's been proposed in #95  that the way to solve this is to abstract the key from the Front End is by placing it inside of an API like a

[2022-09-02 18:58] keenanjohnson commented on #75
I think this is complete!

[2022-09-02 18:58] #75 closed

[2022-09-02 18:59] keenanjohnson commented on #74
I think this is really solid and closing this issue for now.

[2022-09-02 18:59] #74 closed

[2022-09-02 19:00] keenanjohnson commented on #82
@abhinavtripathy are you still working on this issue or should we change it to unassigned for someone else?

[2022-09-02 21:16] abhinavtripathy commented on #82
@keenanjohnson Thank you for checking In. I have paused on this due to our considering of migration to React. I am looking into the deployment/tech stack and what we can use. I will get back to you on that.

[2022-09-28 19:18] pascaljoly opened #98 "time scale display on all graphs / heroku"
when I look at the graphs on https://ribbit-network.herokuapp.com/ the time scale is only displayed in the last graph (Humidity). Can we also add it to the other graphs?
CO2 concentration, temperature, pressure...

[2022-09-29 06:49] keenanjohnson commented on #98
Hey @jklmaynard ! Thanks for jumping in here! Your local server should have access to the data.

You followed the run instructions in the readme here correct?

https://github.com/Ribbit-Network/ribbit-network-dashboard#technical-details

[2022-09-29 14:00] jklmaynard commented on #98
@keenanjohnson yessir, that part was straightforward.  I'll run the requirements install again, just to see if something broke. The error on my local server looks like this:

<img width="575" alt="Screen Shot 2022-09-28 at 5 55 59 PM" src="https://user-images.githubusercontent.com/9573898/193051919-e972bf1c-5543-4402-89de-c6acbe26f0b5.png">

The variables in the influx_config file are all up to da

[2022-09-29 19:15] keenanjohnson commented on #98
Hmm interesting. Those variables should be correct as this repo gets literally auto-deployed from github via Heroku.

Are you on a macbook perchance? I know that sometimes there can be issues with local certificates.

Perhaps you could try this? https://stackoverflow.com/questions/52805115/certificate-verify-failed-unable-to-get-local-issuer-certificate

<img width="741" alt="image" src="https://u

[2022-09-29 19:37] jklmaynard commented on #98
@keenanjohnson nice, that did it!  I can add that to the readme if you'd like.

[2022-09-29 22:28] keenanjohnson commented on #98
Glad that was an easy fix @jklmaynard ! Yes that would be quite helpful! Are you familiar with forking / creating a PR?

[2022-09-29 22:39] jklmaynard commented on #98
Yep, seems pretty clear from the guidelines.  I had just cloned directly from here, but I'll go and fork it first then send it up.  I should have a PR for this tonight (Pacific Standard) unless somebody is able to make the change first.  My recommendation seems to have solved it:

Here's for 7 days:
<img width="762" alt="Screen Shot 2022-09-29 at 3 39 25 PM" src="https://user-images.githubusercont

[2022-09-29 22:50] keenanjohnson commented on #98
Thanks so much @jklmaynard ! Let me know if you run into any issues!

[2022-09-30 18:18] keenanjohnson commented on #98
Thanks!

[2022-09-30 18:55] keenanjohnson opened #100 "Identify Best Dashboard Hosting Service"
Currently, the website dashboard is hosted on the Heroku Free Tier of dynos. However, the free tier is being removed.

Since I am not aware of another free hosting service, we will need to start paying for hosting somewhere.

We should evaluate the best options and what would be the most cost-effective, while still easy to use hosting provider for the Ribbit Dashboard.

![image](https://user-image

[2022-09-30 19:24] keenanjohnson commented on #64
@abhinavtripathy and I discussed this a bit today that there are two primary use-cases for the API.

* The front-end website reading the data from the database to render the plots and the map.
* The Frog sensors publishing data to the database

[2022-09-30 23:06] pascaljoly commented on #100
I've asked a friend who works for Platform.sh if they have discounts for
non-profits. they are a direct competitor with Heroku.

On Fri, Sep 30, 2022 at 11:55 AM Keenan Johnson ***@***.***>
wrote:

[2022-09-30 23:19] pascaljoly commented on #100
also, have you looked at https://www.interserver.net/about/ ? they are free for non profit. I don't know how much flexibility they offer compared to a traditional PaaS.

[2022-10-01 00:45] keenanjohnson commented on #100
I have not! @abhinavtripathy was going to compile a table of options this weekend I believe (or was that for the database hosting?)

If so, we should consider it!

[2022-10-02 19:04] abhinavtripathy commented on #100
Made an initial table of comparing supabase and firebase as options. Will add more. Others, please feel free to add more onto it. After

Platform                                        | Database Type  | Database Storage | Database Reads/Writes                             | Hosting Limits                   | Auth                        | Serverless Support? | Serverless Functions Limits

[2022-10-03 15:51] pascaljoly commented on #100
Do you have the optimal sizing specs of what we need? Is the database between NoSQL and SQL? what about the web server hosting for the dashboard? storage sizing?

[2022-10-04 08:11] keenanjohnson commented on #100
The database we currently are using is InfluxDB, though that is up for debate pending the results of #81.

There is no storage for the web server at the moment on the free heroku tier.

[2022-10-04 16:43] keenanjohnson commented on #100
Hey @pascaljoly ! it's a bit confusing, because InfluxDB is a database, but we use the hosted version of InfluxDB which is also a service called InfluxDB cloud. Our hosting isn't changing there, so I think discussing that is a bit out of scope for this issue and we should keep that conversation to #81. This is specifically just about the web server to host the front end page.

[2022-10-04 16:46] keenanjohnson commented on #100
@abhinavtripathy thanks for starting that comparison! I wonder how AWS would compare to something like Digital Ocean which has a similiar grants program for non-profits: https://www.digitalocean.com/community/pages/hollies-hub-for-good

Would you be able to add AWS and Digital Ocean to your comparison table?

[2022-10-04 17:35] abhinavtripathy commented on #100
@keenanjohnson sure! I will add digital ocean and AWS to the table. Give me a few days to go through the details.

[2022-10-04 17:36] abhinavtripathy commented on #100
Also on a side note, I am a huge fan of digital ocean, they do some great work!

[2022-10-04 18:07] pascaljoly commented on #100
Let's add platform.sh to the list. https://platform.sh/.
thanks!

[2022-10-04 21:11] pascaljoly commented on #100
sorry about that I misunderstood. If it's just the web server then it's
much simpler.

On Tue, Oct 4, 2022 at 9:43 AM Keenan Johnson ***@***.***>
wrote:

[2022-10-04 22:15] keenanjohnson commented on #100
Thanks @pascaljoly and @abhinavtripathy !

[2022-11-17 01:01] pascaljoly opened #104 "clean up menu on dashboard"
the top menu of the dashboard has a **Learn** that redirects to the root website ribbitnetwork.org. Now that we have an **FAQ** we should remove it and instead make the **Ribbit Network** on the left side clickable to redirect to the root website.

[2022-11-17 01:51] keenanjohnson commented on #100
Thanks to our friends at platform.sh, they have offered us hosting on their platform for free as a non-profit, so we have migrated our site there.

I'm going to update the links on our main page and close out this issue.

[2022-11-17 02:10] keenanjohnson commented on #100
platform.sh site is live at main-bvxea6i-lqkafs6clpkma.us-4.platformsh.site

[2022-11-17 02:10] #100 closed

[2022-11-17 02:18] #98 closed

[2022-11-17 02:28] pascaljoly commented on #100
do we have a plan to update the DNS to have a ribbitnetwork alias? we can then update the links "Live Data" from the website

[2022-11-17 02:41] keenanjohnson commented on #100
Yes I’m actually working that in discord right now :). I’ll update this
issue with links once I have everything configured properly :)

On Wed, Nov 16, 2022 at 6:28 PM outdoorclone ***@***.***>
wrote:

[2022-11-25 23:52] keenanjohnson opened #105 "Set up Web Dashboard for Lab Validation Testing"
We have a Frog Sensor that has been sent to a test lab partner for validation of the sensing accuracy.

To support this testing we need branch of the frog software that does not require GPS and has a polling every 2 sec that can be downloaded from the dashboard website.

[2022-11-25 23:52] keenanjohnson commented on #105
@pascaljoly I'll be starting work on this here.

[2022-11-25 23:55] keenanjohnson commented on #105
To achieve this, I plan on doing the following:

* Creating a new InfluxDb Bucket (our database) to host this testing data so that it is not conflated with the other community Frog Sensors
* Creating a new validation Ribbit Network Balena fleet and moving the sensor currently at the test lab to that separate fleet
* Branch the ribbit network code to display only the single sensor at the testlab's

[2022-11-27 06:52] keenanjohnson commented on #105
I created a new branch of the Frog software here: https://github.com/Ribbit-Network/ribbit-network-frog-sensor/tree/lab-testing/lab_testing/software

This branch now has a folder of software that publishes to the new influxDB bucket. I've switched the sensor at the lab to use this software.

<img width="2110" alt="image" src="https://user-images.githubusercontent.com/2559382/204123118-c56ac4b8-306

[2022-11-27 08:53] keenanjohnson commented on #105
Ok @pascaljoly I believe this is now complete and ready for use!

I created a new branch of the web dashboard software (source code)

[That site is now deployed here (sorry for the ugly URL)](https://105-set-up-web-for-lab-o7lrtxq-lqkafs6clpkma.us-4.platformsh.site/)

I've made it so that the site doesn't do any data averaging and has an option for the maximum sensor sample rate (2 seconds).

Anyt

[2022-11-29 19:15] spestana opened #107 "Add data disclaimer"
Currently we're showing raw data direct from the network on the dashboard, and this raw data is downloadable there too.

I think we need a "disclaimer" stating that these data are raw, haven't been quality controlled, and haven't had any calibration/corrections applied (aside from whatever factory calibration the sensors received).

I'm thinking a short statement (and link to the FAQ) on the dashb

[2022-11-29 19:15] spestana commented on #107
Here's a draft of the text: https://docs.google.com/document/d/1AThfZEEU9wp7KP7n3t-sX6oHqOwDnfrWvliiJcLNEj4/edit?usp=sharing

[2022-11-30 00:31] keenanjohnson commented on #107
I created a branch https://github.com/Ribbit-Network/ribbit-network-dashboard/tree/107-add-data-disclaimer here to make the change.

[2022-11-30 00:32] keenanjohnson commented on #107
Were you planning on making the update @spestana or want me to push it to the site?

[2022-11-30 20:24] pascaljoly commented on #105
Thanks! does it require a specific update (reflash) on his sensor or is it done automatically?